<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/static/img/logo.png" alt="Logo">

                <p>
                    &copy; All rights reserved.<br> Designed by <a href="http://www.facebook.com/muneeb.kashif" target="_blank"><span
                        class="bold white">Muneeb Kashif</span></a> and <a href="http://www.facebook.com/ahsan8800" target="_blank"><span
                        class="bold white">Usama Ahsan</span></a><br>Special thanks to <a href="http://www.facebook.com/faateh.binhamad" target="_blank"><span class="bold white">Faateh bin Hamad</span></a>
                </p>
            </div>
        </div>
    </div>
</footer>