<div id="preloader">
    <div id="status">
        <img src="/static/img/preloader-logo.gif" class="img-responsive"/>
<!--
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
-->
    </div>
</div>