{% set event_name = "Cabinet Crisis" %}
{% set head_name = "Danial Ahmed" %}
{% set prologue = "Do you wish to be the best Munner? So why joion? Being a diplomatic initiative, the MUN is a great setting where people can try to face their fear of public speaking. This chance to overcome a fear of public speaking is great because it supports delegates’ personal growth and triggers self-confidence. Indeed, every delegate remembers his or her first speech, the frightening sensation in the stomach, but also the satisfaction and the congratulations received at the end. Trust us, it will be the best." %}
{% set rulesHeading = "For all the Munners out this event is for you. Beware this is not just any MUN" %}
{% set rules = [
                "Delegates will be given a topic on which they will have to research.",
                "Every team will be allotted different countries. They will have to discuss the issue in light of their foreign policy.",
                "However, it will be a crisis cabinet so the delegates will be given the topic on the spot and around 25-30 minutes will be given for the research.",
                "The topic for the crisis cabinet will from the current affairs around the globe."] %}
{% extends "events/base.html" %}
