{% set event_name = "Encrypteau" %}
{% set head_name = "Amir Arif" %}
{% set prologue = "So do you think your IQ lies above the common crowd? Have riddles puzzles and code cracking your thing ? Do you have what it takes  to ace a series of challenging and mind boggling tasks all aiming to break your nerves and fry brains? If YES Encrypteau gives you the perfect platform to show off that above average brain and bring those superior thinking skills to the toughest test!!" %}
{% set rules = [
                "TODO"] %}
{% set day1 = [
                {num:"1", desc:"This round is divided into 3 parts<ol><li>In this round participants will be given a set of questions. Each question will carry some points. Paricipants will have to solve those questions within given time. This round will test your Thinking Skills.</li><li>Taboo Words</li><li>Colors Twist!</li></ol>How well do you concentrate on the easiest things you could ever get to read? Encrypteau brings another interesting round for you all!<br><br>This round will make you think even deeper before you speak. You will be shown a powerpoint slide with a colored background (each slide with a different colored background). On that there will be a name of the color written too. YOU are supposed to call out the name of the color being written rather than telling the color of the background."},
                {num:"2", desc:"This round is basically Scavanger Hunt with a little TWIST. Each clue/riddle will lead you to a location where you will find an item. You have to collect them all with in Time OR you will be in great danger for FINAL ROUND"},
                {num:"3", desc:"<h4>Surprise Round!</h4>"}] %}
{% extends "events/base.html" %}
