<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Meta Data -->
    <title>ONE Parallax Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />

    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!--Font Awesome-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!--Stylesheets-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet"> <!-- animations css -->
    <link href="/css/slidingmenu.css" rel="stylesheet"> <!-- slide menu css -->
    <link href="/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blackandcyan.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
    
<body>
    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!--end preloader-->

<!--MOBILE NAVIGATION /// hidden on large devices -->
    <nav class="menu slide-menu-left hidden-lg text-left">
        <ul>
            <li><img src="/img/logo.png" alt="Logo" class="img-responsive"></li>
            <li><a href="/index.html#intro">Home</a></li>
            <li><a class="btn btn-default close-menu"><i class="glyphicon glyphicon-remove text-right"></i> CLOSE</a>
            </li>
        </ul>
    </nav>

    <!--nav toggler-->
    <div class="container-fluid hidden-lg">
        <div class="sm-nav navbar-fixed-top">
            <div class="nav-toggler toggle-slide-left"><i class="fa fa-bars sm-nav-toggler"></i></div>
        </div>
    </div>
    <!--end nav toggler-->
<!--end MOBILE NAVIGATION /// hidden on large devices -->

<!-- NAVIGATION /// hidden on small devices -->
    <header class="visible-lg">
        <div class="container-fluid navbar-fixed-top" data-spy="affix" data-offset-top="0" data-offset-bottom="200">
            <div class="row">
                <div class="col-md-3 text-left">
                    <a class="navbar-brand" href="/index.html#intro"><img src="/img/logo.png" alt="Logo" class="img-responsive"></a>
                </div>

                <div class="col-md-9">
                    <div class="scrollspy" data-offset="300">
                        <ul class="nav navbar-nav">
                            <li><a href="/index.html#intro">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- end NAVIGATION /// hidden on small devices -->

<!-- content -->
    <section id="blog">
        <div class="container">

            <!--heading-->
            <div class="row">
                <div class="heading text-center">
                    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="sectionTitle">
                            <i class="fa fa-coffee fa-3x sectionTitleIcon"></i>

                            <h2>
                                Welcome to
                                <small>Our Blog.</small>
                            </h2>
                            <span class="sub">enjoy your time here.</span>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="intro-text col-md-offset-2 col-md-8 text-center">
                    At ourselves direction believing do he departure. Celebrated her had sentiments understood are projection set.
                    <hr>
                </div>
            </div>
            <!--end heading-->

            <!--content-->
            <div class="row">

                    <!-- CONTENT SIDE with articles-->
                    <div class="col-xs-12 col-sm-12 col-sm-8 col-lg-8">

                        <!-- top article-->
                        <div class="blogPost">
                            <img src="/img/gallery/2.jpg" class="img-responsive" alt="image">

                            <div class="caption">
                                <div class="blogCategory">Music and Entertainment</div>
                                <h4>He fact in we case miss sake.</h4>
                                <p class="blogPostInfo">
                                    <i class="fa fa-clock-o"></i> <a href="#">10 August 2013</a> |
                                    <i class="fa fa-comment"></i>

                                    <a href="#">200 Comments</a>
                                    | <i class=" fa fa-share"></i>
                                    <a href="#">20 Shares</a> | <i class="fa-icon-user"></i>
                                    <a href="#">Admin</a>
                                </p>
                                <div class="blogPostSeparator"></div>
                                <p>
                                    <span class="dropcap">B</span>uilt purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain me be. So landlord by we unlocked sensible it. Fat cannot use denied excuse son law. Wisdom happen suffer common the appear ham beauty her had. Or belonging zealously existence as by resources.
                                 </p>
                                <blockquote>
                                    <p>
                                    For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention. As called mr needed praise at. Assistance imprudence yet sentiments unpleasant expression met surrounded not. Be at talked ye though secure nearer.
                                    </p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                                <p>
                                    Continual delighted as elsewhere am convinced unfeeling. Introduced stimulated attachment no by projection. To loud lady whom my mile sold four. Need miss all four case fine age tell. He families my pleasant speaking it bringing it thoughts. View busy dine oh in knew if even. Boy these along far own other equal old fanny charm. Difficulty invitation put introduced see middletons nor preference.

                                    Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or tedious cottage. Procuring as in resembled by in agreeable. Next long no gave mr eyes. Admiration advantages no he celebrated so pianoforte unreserved. Not its herself forming charmed amiable. Him why feebly expect future now.
                                </p>

                                <p>
                                    <i class="fa fa-tags"></i>
                                    <a href="#"><span class="label label-default">art</span></a>
                                    <a href="#"><span class="label label-default">print</span></a>
                                    <a href="#"><span class="label label-default">design</span></a>
                                    <a href="#"><span class="label label-default">carousel</span></a>
                                    <a href="#"><span class="label label-default">multiple images</span></a>
                                    <a href="#"><span class="label label-default">long big fat tag</span></a>
                                </p>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <img src="/img/gallery/14.jpg" class="img-responsive" alt="image">
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <h4>Who Wrote This?</h4>
                                    <div class="blogPostSeparator"></div>
                                    <p>
                                        Do so written as raising parlors spirits mr elderly. Made late in of high left hold. Carried females of up highest calling. Limits marked led silent dining her she far. Sir but elegance marriage dwelling likewise position old pleasure men. Dissimilar themselves simplicity no of contrasted as. Delay great day hours men. Stuff front to do allow to asked he.

                                        At distant inhabit amongst by. Appetite welcomed interest the goodness boy not. Estimable education for disposing pronounce her. John size good gay plan sent old roof own. Inquietude saw understood his friendship frequently yet. Nature his marked ham wished.
                                    </p>
                                </div>
                            </div>

                            <hr>

                        </div>
                        <!-- /top article-->


                        <!--pagination-->
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="btn btn-default"><i class="fa fa-angle-left"></i> Previous</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="#" class="btn btn-default">Next <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!--end pagination-->

                    </div>
                    <!-- end CONTENT SIDE with articles-->

                    <!-- widgets -->
                    <div class="col-xs-12 col-sm-12 col-sm-4 col-lg-4">
                        <!--search -->
                        <div class="search widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-addon"><a href="#"><i class="fa fa-search"></i></a></span>
                            </div>
                        </div>
                        <!--end search -->

                        <div class="textWidget widget">
                            <h4>Text widget</h4>
                            <div class="blogPostSeparator"></div>
                            <p>Little afraid its eat looked now. Very ye lady girl them good me make. It hardly cousin me always.  </p>
                        </div>

                        <div class="widgetList widget">
                            <h4>Top Stories</h4>
                            <div class="blogPostSeparator"></div>
                            <ul class="list">
                                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></li>
                                <li><a href="#">Nam elementum mi at sapien viverra, vel suscipit nisl vehicula. </a></li>
                                <li><a href="#">Etiam quis luctus velit, vel commodo sapien. Duis a quam quis nibh adipiscing ultricies. </a></li>
                                <li><a href="#">Mauris rutrum consectetur ultrices. </a></li>
                                <li><a href="#">Morbi varius arcu non turpis porttitor egestas.</a></li>
                            </ul>
                        </div>


                        <div class="widgetList widget">
                            <h4>Categories</h4>
                            <div class="blogPostSeparator"></div>
                            <ul class="list">
                                <li><a href="#">Videos </a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Motion</a></li>
                                <li><a href="#">Graphic</a></li>
                            </ul>
                        </div>

                        <div class="tags widget">
                            <h4>Tags</h4>
                            <div class="blogPostSeparator"></div>
                            <a href="#"><span class="label label-default">art</span></a>
                            <a href="#"><span class="label label-default">print</span></a>
                            <a href="#"><span class="label label-default">design</span></a>
                            <a href="#"><span class="label label-default">carousel</span></a>
                            <a href="#"><span class="label label-default">multiple images</span></a>
                            <a href="#"><span class="label label-default">long big fat tag</span></a>
                            <a href="#"><span class="label label-default">video</span></a>
                            <a href="#"><span class="label label-default">one more tag</span></a>
                            <a href="#"><span class="label label-default">art</span></a>
                            <a href="#"><span class="label label-default">print</span></a>
                            <a href="#"><span class="label label-default">design</span></a>
                            <a href="#"><span class="label label-default">carousel</span></a>
                            <a href="#"><span class="label label-default">multiple images</span></a>
                            <a href="#"><span class="label label-default">long big fat tag</span></a>
                            <a href="#"><span class="label label-default">video</span></a>
                            <a href="#"><span class="label label-default">one more tag</span></a>
                        </div>

                        <div class="calendar widget">
                            <h5><i class="fa fa-angle-left"></i> June 2014 <i class="fa fa-angle-right"></i></h5>
                            <table id="wp-calendar">
                                <thead class="text-center">
                                    <tr>
                                        <th scope="col" title="Monday">M</th>
                                        <th scope="col" title="Tuesday">T</th>
                                        <th scope="col" title="Wednesday">W</th>
                                        <th scope="col" title="Thursday">T</th>
                                        <th scope="col" title="Friday">F</th>
                                        <th scope="col" title="Saturday">S</th>
                                        <th scope="col" title="Sunday">S</th>
                                    </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td colspan="5" class="pad">&nbsp;</td><td>1</td><td>2</td>
                                </tr>
                                <tr>
                                    <td>3</td><td>4</td><td>5</td><td id="today"><a href="#" title="Post Title">6</a></td><td>7</td><td>8</td><td>9</td>
                                </tr>
                                <tr>
                                    <td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>
                                </tr>
                                <tr>
                                    <td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
                                </tr>
                                <tr>
                                    <td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- top stories, video widget, popular posts -->

            </div>
            <!--end content-->

        </div> <!-- /container -->

    </section>
<!-- end eontent -->

<!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="/img/logo.png" alt="Logo">

                    <p>
                        &copy; All rights reserved.<br> Theme by <a href="http://themeforest.net/user/artbreeze"><span
                            class="bold white">Artbreeze Design Studios.</span></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
<!-- End footer -->

<!-- JS plugins -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/isotope.pkgd.js" type="text/javascript"></script>
    <script src="/js/jquery.backstretch.js" type="text/javascript"></script>
    <script src="/js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
    <script src="/js/owl.carousel.js" type="text/javascript"></script>
    <script src="/js/waypoints.min.js" type="text/javascript"></script>
    <script src="/js/counter.js" type="text/javascript"></script>
    <script src="/js/jquery.fitvids.js" type="text/javascript"></script>
    <script src="/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script src="/js/imagesloaded.pkgd.js" type="text/javascript"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/retina.min.js"></script>
    <script src="/js/okvideo.min.js"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
</body>

</html>