{% set event_name = "Ideas in Action" %}
{% set head_name = "Mannan Zaib" %}
{% set prologue = "Hi There. Are you someone who likes to apply what they have learnt from books in real life situations? Are you someone who likes to come up with new ideas by combining their artistic skills with their inner science nerds? Well if you are one of those people, you have come to the right place. Ideas In Action, as the name suggests, is a platform for all the people who are passionate about turning their knowledge and vision of science into actual working models. Do you envy people you see in television making real life models and think to yourself “I wish I could do that”? Well this event right here is your chance to redeem yourself. Ideas In Action is a platform for letting others know why you’re better than them.<br><br>Its Time to bring out your inner skills and shower them upon this stirring event, Ideas In Action.<br><br>Trust Me, You Don’t Want To Miss This." %}
{% set rules = [
                "A team should have 2 - 4 participants",
                "No external help such as mobiles, laptops and internet are allowed.",
                "No extra time will be provided. Any team exceeding the time limit will be disqualified.",
                "In case of failure, Delegates can restart their projects at the cost of losing some points in their total score.",
                "The final decisions regarding all matters rests with the host team."] %}
{% set day1 = [
                {num:"1", desc:"Delegates will be bringing along their own materials to build any type of Rube Goldberg Machine.<br>The machine will be judged on creativity and functionality.<br>This round will be of two hours"},
                {num:"2", desc:"<h5>Coming soon...</h5>"},
                {num:"3", desc:"<h4>Surprise Round!</h4>"}] %}
{% extends "events/base.html" %}