{% set event_name = "Law Drama Moot" %}
{% set head_name = "Noor Mazari" %}
{% set prologue = "Are you a Harvey Specter in the making? Does being on stage and arguing your point make you feel at home? Does your passion for law change the meaning of the words LAW and MOOT? If yes then Suit up and let your inner lawyer out! This year one of the greatest Science olympiads 'Parakration' brings you a new event to test if you have what it takes or not!<br><br>P.S<br><em>“Its not bragging if its true”</em> - Harvey Specter" %}
{% set rules = ["Each team must enact a court room scenario based on their case",
                "There will be a time limit of 10 minutes and any participant exceeding the limit will be marked negatively",
                "The argument must be in english.",
                "Audio and visual evidence should be given before hand."] %}
{% extends "events/base.html" %}