{% set event_name = "Trebuchét" %}
{% set head_name = "Talha Wali" %}
{% set prologue = "" %}
{% set day1 = [
                {num:"1", desc:"Delegates will be sent on a quest around paragon in which they are to complete task that they have been assigned and completing each task will grant them a tool which they will use to build a weapon of mass destruction the very next day."},
                {num:"2", desc:"Delegates that have completed the first round will now build their weapon in the given amount of time."},
                {num:"3", desc:"Delegates will be given a short amount of time to finalize the weapon and present it to the judges on the notes on this basis:<ol><li>Build quality</li><li>Structure design</li><li>Structure strength</li></ol>"}] %}
{% extends "events/base.html" %}
