{% set event_name = "Trebuchét" %}
{% set head_name = "Talha Wali" %}
{% set prologue = "This event is for the daredevils and personifies on the intellect and ingenuity of people how can they use some wood and glue to make an ancient yet classic weapon of destruction a catapult, a “<b>Trebuchet</b>”<br>The event is split into 3 days in which the delegates have find, build and present there catapult" %}
{% set days = " " %}
{% set day1 = [
                {desc:"Some extra tools have been scattered across the school in which the delegates have to use the knowledge to solve the riddle where the items have been hidden and perform acts that they might get thus items (these are extra items and limited those who clear this round will get these items and which will most definitely give them an edge over the rest)"}] %}
{% extends "events/base.html" %}
