{% set event_name = "The World of Gaming" %}
{% set head_name = "Zain Kaleem" %}
{% set prologue = "" %}
{% set rules = [
                "Teams will be disqualified on trash talk",
                "In case of any dispute, decision of the management will be final",
                "There will be loser brackets as well",
                "Winner's prize may be subject to change",
                "The fee for private teams not participating in other events is 1000 RS per game"] %}
{% set day1 = [
                {heading:"Fifa 17", desc:"<ul><li>One on one matches will be held</li><li>Half length will be 6 minutes</li><li>Semi Finals and Finals will be best of 3</li><li>Game Speed: Fast</li><li>Camera: Tele Broadcast</li><li>Manual keeping will not be allowed</li><li>Defending: Tactical only</li><li>Custom tactics will not be allowed</li><li>Injuries: Off</li><li>Handball: Off</li><li>Classic XI and World XI will not be allowed</li><li>Player instructions will be allowed</li></ul>"} ] %}
{% set day1Background = "wb" %}
{% set day2 = [
                {heading:"COD: Black OPs 2 S&D", desc:"<ul><li>A team will have 4 - 6 participants</li><li>Maps<ul><li>Raid</li><li>Standoff</li><li>Slums</li></ul></li><li>Round time: 1.5 minutes</li><li>Round Limit: 6 Rounds</li><li>Side switch every round</li><li>Killcam disabled</li><li>Scorestreaks disabled</li><li>Plant Time: 5 seconds</li><li>Diffuse Time: 5 seconds</li><li>COD casting and 3rd person spectating disabled</li><li>Ban Settings<ul><li>All LMGs</li><li>All Sniper Rifles (may be changed)</li><li>All Shotguns</li><li>Thermal Optics</li><li>Dual Wields</li><li>All DLC Weapons</li><li>Rapid Fire</li><li>All lethals and tacticals</li><li>All secondaries (may be changed)</li><li>SVU-AS and XPR</li><li>Executioner</li></ul></li></ul>"} ] %}
{% set day2Background = "bb" %}
{% extends "events/base.html" %}
